<h2>Your Urls</h2>

<table>
  <thead>
    <tr>
      <th>Long url</th>
      <th>Short url</th>
      <th>Visits</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @url_connectors.each do |url_connector| %>
      <tr>
        <td><%= url_connector.long_url %></td>
        <td><%= url_connector.short_url %></td>
        <td><%= url_connector.visit_count %></td>
        <td><%= link_to 'Show', url_connector %></td>
        <td><%= link_to 'Edit', edit_url_connector_path(url_connector) %></td>
        <td><%= link_to 'Destroy', url_connector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url Connector', new_url_connector_path %>
