<p id="notice"><%= notice %></p>

<p>
  <strong>Long url:</strong>
  <%= @url_connector.long_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @url_connector.short_url %>
</p>

<%= link_to 'Edit', edit_url_connector_path(@url_connector) %> |
<%= link_to 'Back', url_connectors_path %>
